:host {
  display: block;
  font-family: "Archer SSm A", "Archer SSm B";
  font-style: italic;
  font-weight: 400;

  border-left: solid;
  border-color: #0fe690;

  @apply mx-auto max-w-4xl p-6 text-xl text-gray-800 bg-gray-200 leading-relaxed;
}

