:host {
  display: block;
  font-family: "Archer SSm A", "Archer SSm B";
  font-style: italic;
  font-weight: 400;

  /* border-left: solid; */
  /* border-color: #0fe690; */

  margin-top: 20px;
  margin-bottom: 20px;

  @apply mx-auto max-w-4xl p-6 text-2xl text-gray-800 bg-gray-200 leading-relaxed text-center;
}

