:host {

  font-family: "Archer SSm A", "Archer SSm B";
  font-style: normal;
  font-weight: 300;

  display: block;

  @apply mb-6;
}

:host ::ng-deep a {
  font-weight: 550;
  text-decoration: underline;
}
