:host {
  display: block;

  font-family: "Landmark Inline A", "Landmark Inline B";
  font-style: normal;
  font-weight: 400;
  
  letter-spacing: -3px;

  @apply mx-auto max-w-6xl p-6 text-6xl text-gray-900 text-center;
}
